<script setup lang="ts">
import DeclarativeRendering from './components/DeclarativeRendering.vue'
import AttributeBinding from './components/AttributeBindings.vue';
import EventListeners from './components/EventListeners.vue';
import FormBindings from './components/FormBindings.vue';
import ConditionalRendering from './components/ConditionalRendering.vue';
import ListRendering from './components/ListRendering.vue';
</script>
<template>
  <ListRendering></ListRendering>
  <ConditionalRendering></ConditionalRendering>


  <h1>Hello World</h1>
  <DeclarativeRendering></DeclarativeRendering>
  <AttributeBinding></AttributeBinding>
  <EventListeners></EventListeners>
  <FormBindings></FormBindings>
 
</template>